<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs") %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <script>
      let loggedout = false;
      let myuser = '<%- JSON.stringify(user) %>';

      if (myuser === "null") loggedout = true;
      else {
        console.log("Logged out : ", loggedout);
        console.log("user : ", myuser);
      }
    </script>

    <div class="card user-dashboard" style="width: 18rem">
    
      <div class="card-body">
        <% if(myuser.picture) { %>
        <img
          src="<%= myuser.picture%>"
          referrerpolicy="no-referrer"
          class="card-img-top"
          alt="..."
        />
        <% } else {%>

        <img
          src="/images/user img.png"
          referrerpolicy="no-referrer"
          class="card-img-top"
          alt="..."
        />

        <% } %>
        <br />
        <h5 class="card-title"><strong><%= myuser.name %> </strong></h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong> Account Number </strong><br /><%= myuser.accountNumber %>
        </li>
        <li class="list-group-item">
          <strong>Account Balance </strong><br />
          <%= myuser.balance %>
        </li>
        <li class="list-group-item">
          <strong>Account email </strong> <br /><%= myuser.email %>
        </li>
      </ul>
      <div class="card-body">
        <% if(myuser.picture) { %>
        <a href="/logout" class="card-link btn btn-success">Sign Out</a>
        <% } else {%>

        <a href="/logout2" class="card-link btn btn-success">Sign Out</a>

        <% } %>

        <!--   <a href="/logout" class="card-link btn btn-success"  >Sign Out</a>   onclick="signOut()" -->
      </div>
    </div>

    <!-- <a href="#" onclick="signOut();" >Sign out</a>  -->
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log("User signed out.");
        });
      }
    </script>

    <%- include('./partials/foot.ejs') %>
  </body>
</html>
