<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>
<body>
   
    <%- include('./partials/nav.ejs') %>

    <h1>Protected route</h1>

  <div class="card user-dashboard" style="width: 18rem;">
    <!-- <img  src="<%= myuser.picture%>" referrerpolicy="no-referrer" class="card-img-top" alt="..."> -->
    <div class="card-body">
      <img  src="<%= myuser.picture%>" referrerpolicy="no-referrer" class="card-img-top" alt="...">
      <br>
      <h5 class="card-title">  <strong><%=  myuser.name %>  </strong> </h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> <strong>  Account Number </strong><br><%= myuser.accountNumber %></li>
      <li class="list-group-item"><strong>Account Balance </strong><br>  <%=  myuser.balance %></li>
      <li class="list-group-item"><strong>Account email </strong> <br><%=  myuser.email %> </li>
    </ul>
    <div class="card-body"> 
      <a href="/logout" class="card-link btn btn-success" onclick="signOut()"  >Sign Out</a>
    </div>
  </div>
  <%- include('./partials/foot.ejs') %>
</body>
</html>