<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs") %>
<body class="table-pgs" >
  
    <%- include('./partials/nav.ejs') %>
 
    <div class="user-table">
        <table id="customers">
            <thead>
                <tr>
                  <th colspan="2">Sender  </th>
                  <th colspan="2">User </th>
                  <th colspan="3">Details </th>
                </tr>
            </thead>
            <thead>
            <tr>
              <th>Account Number </th>
              <th>Name of Sender </th>
              <th>Account Number </th>
              <th>Name of Reciever </th>
              <th>Amount</th>
              <th>Timestamp</th>
              <th>Transaction ID</th>
            </tr>
        </thead>
           
           <tbody>
           

            <% if(transactions.length > 0) { %>
        
                <% transactions.forEach(transaction => { %>
                  
                    <tr>
                        <td ><%=  transaction.accountNumber1 %></td>
                        <td><%=  transaction.name1 %></td>
                        <td ><%=  transaction.accountNumber2 %></td>
                        <td><%=  transaction.name2 %></td>
                        <td><%=  transaction.amount %></td>
                        <td><%=  transaction.updatedAt.getHours()  + ":" + transaction.updatedAt.getMinutes() + ":" + transaction.updatedAt.getSeconds()%> <br> <%=   transaction.updatedAt.toDateString() %></td>
                        <td><%=  transaction.transactionID.slice(0, 23)%></td>
                    </tr>
        
                <% }) %>
                <% }  
                else {%> 
                    <p>There are no transactions to display... </p>
                   
                <% } %>
        
                

        </tbody>
    
</table>
</div>
      
<%- include('./partials/foot.ejs') %>

</body>
</html>