<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs") %>
<body>
  
    <%- include('./partials/nav.ejs') %>
 
</div>
<div class="create-user">
<form action="/transfer" method ="POST" onsubmit="return checkBeforeSubmit()">
    
    <label for="accountNumber"> Account number  of Sender: </label>
    <input type="number" id="accountNumber" placeholder="98xxxx" name ="sender" required>

     
    <label for="accountNumber"> Account number of Reciever : </label>
    <input type="number" id="accountNumber" placeholder="98xxxx" name ="reciever" required>


    <label for=" amount">Amount : </label>
    <input type="number" id="balance" placeholder="1000" name ="amount" required>
    <input type="submit" name='submit' > <!-- <button>Submit</button> onfocus="checkSignIn()"  -->
</form>
</div>

<script>
  let loggedout = false;
  let user1 = '<%- JSON.stringify(user)%>';  
  let user2 = '<%- JSON.stringify(Googleuser) %>';  

  if(user1 === 'null' && user2 === 'null' )
  loggedout = true;

  console.log('Logged out : ',loggedout);
  console.log('user1 and user 2 : ',user1,user2);

  
  if(loggedout == true)
  {
    swal({
          title: "Login",
          text:  "You are not logged in! ",
          icon: "error",
          button: "OK",
          closeOnClickOutside: false,
          });
  }
  else{
    swal({
           title: "Login",
           text: "You are logged in!",
           icon: "success",
          button: "OK",
           closeOnClickOutside: false,
         });
  }

  </script>



<%- include('./partials/foot.ejs') %>

</body>



</html>
